@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name}{
        @content;
    }
}

@include keyframes(spin) {
  0% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(360deg);
  }
}

.spinner { 
  @include animate(spin, 1s, linear, infinite)
}