.merch-modal {
    margin-top: 14%;
}

.size-button {
    margin-right: 0.8em;
}

.cart-items-badge {
    color: white;
}

.header-cart-badge {
    vertical-align: top;
    margin-left: -10px;
    font-size: 15px;
    border-style: solid;
    border-color: #fff;
    border-width: 0.19em;
    margin-top: -0.5em;
}