.merch-modal {
    margin-top: 14%;
}

.size-button {
    margin-right: 0.8em;
}

.cart-items-badge {
    color: white;
}

.badge {
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
    border-style: solid;
    border-color: #fff;
    border-width: 0.2em;
    font-size: 16px;
    font-weight: bold;
    background: #5e72e4;
    color: #fff;
    padding: 0.1em 0.5em 0.1em 0.3em;
    vertical-align: top;
    margin-left: -10px;
}