.col-sm-8 {
    // top: 50%;
    // transform: translateY(-50%);
    // -ms-transform: translateY(-50%);
    // -moz-transform: translateY(-50%);
    // -webkit-transform: translateY(-50%);
    // -o-transform: translateY(-50%);
    // width:50%;
}