.icon {
    margin-left: calc(50% - 30px);
    width: 4rem;
    height: 4rem;
}

.icon-shape {
    @each $color, $value in $icon-colors {
        $bg-value: map-get($icon-hover-colors, $color);

        &.icon-shape-#{$color} {
            color: $value;
            background-color: $bg-value;
        }
    }
}
