.collapse-brand img {
    // Make sure our logo is small
    height: 36px !important;
}

.navbar-hover {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    // Underline effect when hovering
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.175rem;
        background: rgb(255, 255, 255);
        left: 0;
        bottom: 0;
        transform: scale(0);
        transition: transform 0.2s ease;
    }
    
    &:hover::after {
        transform: scale(0.8, 0.5);
    }
}
